/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2rem 5%;
  width: 100%;
  top: 0;
  background: rgba(7, 54, 20, 0.15);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

a.logo {
  text-decoration: none;
  color: inherit;
	elements */
  cursor: pointer;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6f61;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
  background: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000;
}

.btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #073614;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff8a75;
}

/* Footer */
.footer {
  text-align: center;
  padding: 2rem 0;
  font-size: 0.9rem;
  color: #000;
  background-color: #fff;
}

/* Work Section */
.work-section {
  background-color: #fff;
  text-align: center;
  padding: 6rem 0;
}

.work-section h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
}

.project {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* this defines the height automatically */
  overflow: hidden;
  cursor: pointer;
}

.project img {
  position: absolute; /* take the full area of the parent */
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bababa;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.overlay-text {
  text-align: center;
  padding: 2rem;
}

.project:hover .overlay,
.project:focus .overlay,
.project:active .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.05);
}


/* project page */

.project-banner {
height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
  background: #fff;
}